
**/build/
**/yarn.lock
*.lock
.classpath
.project
.settings/
.DS_Store
target/
data/
bin/
c3po-core/output.xml
c3po-webapi/war/
*/profiles/*
*/exports/*
*/*.csv
*/logs/
*/log
.idea/
*.iml
# vagrant related local settings, should never end up in the repo
.vagrant_settings/maven_settings.xml
.vagrant_settings/proxy_settings.conf
# Eclipse
.project
.classpath
.settings/
bin/

# IntelliJ
.idea
*.ipr
*.iml
*.iws

# NetBeans
nb-configuration.xml

# Visual Studio Code
.vscode

# OSX
.DS_Store

# Vim
*.swp
*.swo

# patch
*.orig
*.rej

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties